@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

p{
    font-family:  'Mulish', sans-serif;;
}
body {
    font-family: 'Mulish', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif;
  }
  h6,span{
    color:#4A4FF2;
   
  }
  h4{
    
  }
  